body {
  font-family: Arial;
}

table {
  border-collapse: collapse;
  width: 100%;
  align-items:flex-start;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}


/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  hover: {background-color: #ddd;};
  active: {background-color: #ccc;};

}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 30s linear infinite;
}

.man_site :focus{outline:0}
.man_site .programs-layout{display:flex;background:#f8f8f8}

.man_site .filter-toggle{display:none}.man_site 
.filter{position:relative;padding:50px;width:40%;background:#568bb6}.man_site 
.results{display:flex;align-items:center;padding:50px;width:60%}

.man_site 
.filter-title {
  margin:0 0 10px;
  color:#fff}
  
.man_site .filter-description{margin:0 0 16px;font-size:14px;color:#fff}
.man_site .display-toggle{margin:0 0 24px}.man_site .display-toggle .layout{display:flex}
.man_site .display-toggle button {
    display:flex;
    align-items:center;
    position:relative;
    margin:0 20px 0 0;
    padding:0;
    border:none;
    background:0 0;
    color:#fff;font-weight:700;
    font-size:18px;
    text-transform:uppercase;
    cursor:pointer;
    opacity:.7;
    transition:.2s}
  
.man_site .display-toggle button.active-display{opacity:1}
 .man_site .display-toggle button:hover{opacity:1}

.man_site .groups-map .group:hover{z-index:3}

    
.man_site .groups-map button.pin {
  position:absolute;
  left:-20px;
  bottom:calc(100% - 9px);
  margin:0;
  padding:0;
  background:0 0;
  border:none;
  transition:.2s
}
.man_site .groups-map button.pin:focus,.man_site .groups-map button.pin:hover{z-index:2}
.man_site .groups-map button.pin:focus svg path,.man_site .groups-map button.pin:hover svg path {
  fill:#c55510
}
.man_site .groups-map .popup {
  position:absolute;left:50%;bottom:calc(100% + 60px);transform:translate(-50%,0);padding:35px 20px;
  width:450px;background:#fff;box-shadow:0 2px 10px 0 rgba(0,0,0,.3);opacity:0;visibility:hidden;
  transition:.2s}
.man_site .groups-map .popup h4 {
  margin:1em 0 .5em;line-height:1;color:#121212;
  font-weight:700;font-size:20px;font-weight:500}



.man_site .groups-map .group.active-group{z-index:2}
.man_site .groups-map .group.active-group button.pin svg path{fill:#c55510}
.man_site .groups-map .group.active-group .popup{opacity:1;visibility:visible}


.man_site .filter-toggle {
  position:relative;
  background:#4b9cd3;border:
}